Repository Falchizao/reader-app: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --max-warnings=0

.lintstagedrc:

{
  "*.{tsx,ts,json}": [
    "pretty-quick --staged"
  ],
  "*.{tsx,ts}": [
    "eslint --max-warnings=0"
  ]
}

chore: add husky
  .husky/pre-commit
  .husky/pre-push
  package.json
  yarn.lock
Due: pretty-quick --staged

fix: lint files
  .lintstagedrc
  electron/bridge.ts
  electron/main.ts
  src/@types/bridge.d.ts
  src/@types/image.d.ts
  src/App.tsx
  src/components/Button/Button.spec.tsx
  src/components/Button/index.tsx
  src/components/Button/styles.ts
  src/components/Greetings/Greetings.spec.tsx
  src/components/Greetings/index.tsx
  src/components/Greetings/styles.ts
  src/index.tsx
  src/styles/GlobalStyle.ts
  tests/setupTests.ts
Due: pretty-quick --staged, eslint --max-warnings=0

feat(husky): add commit-msg hook
  .husky/commit-msg
Due: none

chore: lint json files
  .eslintrc.json
  .lintstagedrc
  package.json
  renovate.json
  tsconfig.json
Due: pretty-quick --staged

chore: xlsx
  package.json
Due: pretty-quick --staged

feat: .html doc to xlsx file parse
  src/pages/home/hooks/useHome.ts
  src/services/file/htmlToXlsx.ts
Due: pretty-quick --staged, eslint --max-warnings=0

chore: add warn instead error to rule no unsed var
  .eslintrc.json
Due: pretty-quick --staged

feat: add download button
  src/components/downloadButton/index.tsx
  src/components/downloadButton/styles.ts
  src/components/index.ts
  yarn.lock
Due: pretty-quick --staged, eslint --max-warnings=0

chore: add errors on drag on drop
  .gitattributes
  src/components/dragOnDrop/index.tsx
  src/components/dragOnDrop/styles.ts
  src/pages/home/hooks/useHome.ts
  src/pages/home/index.tsx
  src/pages/home/styles.ts
  src/services/file/htmlToXlsx.ts
  src/styles/styleGuide.ts
Due: pretty-quick --staged, eslint --max-warnings=0
